---
http_interactions:
- request:
    method: get
    uri: https://www.loteriasyapuestas.es/servicios/buscadorSorteos?celebrados=true&fechaFinInclusiva=20211022&fechaInicioInclusiva=20210620&game_id=LAQU
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '[{"fecha_sorteo":"2021-10-20 22:55:00","dia_semana":"mi\u00e9rcoles","id_sorteo":"1143506053","game_id":"LAQU","anyo":"2021","numero":53,"premio_bote":"0","cdc":"11435","apuestas":"1536309","recaudacion":"115223175","combinacion":"2
        - 1 - 2 - 1 - 1 - 1 - 1 - 1 - X - 1 - 2 - 2 - 2 - X - 01","premios":"63372746","fondo_bote":"0","escrutinio":[{"tipo":"Pleno
        al 15 ","categoria":1,"premio":"3086,34","ganadores":"28"},{"tipo":"1\u00aa
        (14 Aciertos) ","categoria":2,"premio":"470,3","ganadores":"392"},{"tipo":"2\u00aa
        (13 Aciertos) ","categoria":3,"premio":"15,74","ganadores":"5492"},{"tipo":"3\u00aa
        (12 Aciertos) ","categoria":4,"premio":"4,82","ganadores":"35894"},{"tipo":"4\u00aa
        (11 Aciertos) ","categoria":5,"premio":"0","ganadores":"128017"},{"tipo":"5\u00aa
        (10 Aciertos) ","categoria":6,"premio":"0","ganadores":"266532"}],"partidos":[{"posicion":1,"idLocal":70,"local":"Shakhtar","idVisitante":12,"visitante":"Real
        Madrid","signo":"2 ","marcador":"0 - 5","fecha":"19-10-2021","hora":"21:00","fecha_completa":"2021-10-19
        21:00:00"},{"posicion":2,"idLocal":416,"local":"Psg","idVisitante":2300,"visitante":"Leipzig","signo":"1
        ","marcador":"3 - 2","fecha":"19-10-2021","hora":"21:00","fecha_completa":"2021-10-19
        21:00:00"},{"posicion":3,"idLocal":3,"local":"At. Madrid","idVisitante":73,"visitante":"Liverpool","signo":"2
        ","marcador":"2 - 3","fecha":"19-10-2021","hora":"21:00","fecha_completa":"2021-10-19
        21:00:00"},{"posicion":4,"idLocal":84,"local":"Inter De Mil\u[...]
