---
http_interactions:
- request:
    method: get
    uri: https://www.loteriasyapuestas.es/servicios/buscadorSorteos?celebrados=true&fechaFinInclusiva=20210829&fechaInicioInclusiva=20210427&game_id=LAQU
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '[{"fecha_sorteo":"2021-08-29 00:00:00","dia_semana":"domingo","id_sorteo":"1138306042","game_id":"LAQU","anyo":"2021","numero":42,"premio_bote":"0","cdc":"11383","apuestas":"0","recaudacion":null,"combinacion":null,"premios":"0","fondo_bote":"0","escrutinio":[],"partidos":[{"posicion":1,"idLocal":111,"local":"Celta","idVisitante":1,"visitante":"Athletic
        Club","signo":"2","marcador":"0 - 1","fecha":"28-08-2021","hora":"17:00","fecha_completa":"2021-08-28
        17:00:00"},{"posicion":2,"idLocal":125,"local":"Real Sociedad","idVisitante":6,"visitante":"Levante","signo":"1","marcador":"1
        - 0","fecha":"28-08-2021","hora":"19:30","fecha_completa":"2021-08-28 19:30:00"},{"posicion":3,"idLocal":131,"local":"Elche","idVisitante":17,"visitante":"Sevilla","signo":"X","marcador":"1
        - 1","fecha":"28-08-2021","hora":"19:30","fecha_completa":"2021-08-28 19:30:00"},{"posicion":4,"idLocal":11,"local":"Betis","idVisitante":12,"visit[...]
